// Customization Bootstrap vars
$grid-gutter-width: 24px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (xs: 432px, xl: 1152px + 24px);
